/* order-form */
.form-container{
  color:gray;
}
.form-container .checkboxes{
	display: none;
}
.form-container .bud:after,
.form-container .bud_section:after,
.form-container .auto_counter:after,
.form-container .textarea-container:after,
.input-wrapper:after{
	content: '';
	display: block;
	clear: both;
}
.form-container .textarea-container{
  clear:both;

}
.form-container .bud_section .budget{
	width:240px;
	position: relative;
}
.form-container .bud_section .budget span.wpcf7-not-valid-tip{
	color: #f00;
	position: absolute;
	bottom: -18px;
	font-size: 12px;
	left: 0;
}
.form-container .bud_section .budget input{
	width: 100%;
}
.form-container .bud_section .op{
  display:inline-block;
  width:28.5%;
  vertical-align:top;
}
.form-container .bud_section .op:before{
	content: '-';
	text-align: center;
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	line-height: 43px;
	margin: 0 2px 0 -2px;
}
.form-container .bud_section .op-1{
	width: calc(28.5% - 20px);

}

.form-container .bud_section .op-1:before{
	display: none;
}
.form-container .bud_section .op-others{
	width: 15.5%;
}
.form-container .bud_section .op .wpcf7-form-control-wrap{
	display: inline-block;
	width: calc(100% - 20px);

}
.form-container .bud_section .op-1 .wpcf7-form-control-wrap{
	width: 100%;
}
.form-container .bud_section .op input{
	width: 100%;
	margin: 0;
	text-align: center;
}
.form-container .p_d_form .submit_b{
	width: 230px !important;
}
.form-container .p_d_form .input-wrapper > div{
	float: left;
	width: 50%;
	padding: 0 10px;
}
.form-container .p_d_form > div.input-wrapper{
	margin:0 -10px;
}
.form-container .p_d_form > div.input-wrapper input{
	width: 100%;
}
.form-container .p_d_form > div.file-up-container .input-wrapper{

}
.form-container .p_d_form .file-up-container {
	position: relative;
}
.form-container .p_d_form  div.file-up-container .file-name{
	border-radius: 5px;
	width: 100%;
    display: inline-block;
    height: 45px;
    font-family: 'Muli', sans-serif;
    color: #3c4555;
    font-size: 1.6rem;
    display: block;
    border: 1px solid #dedede;
    padding:8px 10px 7px;
    margin: 0;
    color: #939393;
}

.form-container .p_d_form div.file-up-container .file{
	position: static;
}
.form-container .p_d_form  div.file-up-container .file input{
	position: absolute;
	width: 100%;
	height: 45px;
	opacity: 0;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 0;
}
.form-container .upload_btn {
    position: absolute;
    top: -1px;
    right: -1px;
}
.form-container .p_d_form > div.textarea-container{
	width: 100%;
	padding:0;
}
.tick_mark:before{
	background: #2360a2 url(../img/tick.png) center center no-repeat;
}
span.wpcf7-not-valid-tip{
	position: absolute;
	bottom: -63px;
	font-size: 12px;
}
.textarea-container span.wpcf7-not-valid-tip{
	bottom: -21px;
}