/* SITE WIDE */

.c_wrapper #front-tiles ul li{
margin-left: 2px;
} 


.c_wrapper{
float: left;
    padding-top: 15px;
    width: 100%;
}



.c_wrapper #front-tiles {
display:none;
width:100%;
float:left;
padding: 10px 0 30px;
}

.c_wrapper #home_index #front-tiles {
display:block;
}

.c_wrapper #front-tiles ul {
margin:0;
padding:0;
width:100%;
list-style:no ne;
list-style-type: none;
}

.c_wrapper #front-tiles li {
width:33%;
float:left;
text-align:center;
list-style-type: none;
}

.c_wrapper #front-tiles .tile1 {
text-align:left!important;
list-style-type: none;
}

.c_wrapper #front-tiles .tile3 {
text-align:right!important;
list-style-type: none;
}

.c_wrapper #front-tiles a {
width:239px;
height:178px;
display:inline-block;
}

.c_wrapper #front-tiles .tile1 a {
background: url(/uploads/11032783/File/tile_1_off.png);
}

.c_wrapper #front-tiles .tile1 a:hover {
background: url(/uploads/11032783/File/tile_1_on.png);
}

.c_wrapper #front-tiles .tile2 a{
background: url(/uploads/11032783/File/tile_2_off.png);
}

.c_wrapper #front-tiles .tile2 a:hover {
background: url(/uploads/11032783/File/tile_2_on.png);
}

.c_wrapper #front-tiles .tile3 a {
background: url(/uploads/11032783/File/tile_3_off.png);
}

.c_wrapper #front-tiles .tile3 a:hover {
background: url(/uploads/11032783/File/tile_3_on.png);
}







#main_image{
width: 100%;
}

#call_us{
background-color: black;
    border-bottom: 1px solid #3b3a3a;
    color: white;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    width: 100%;
}

#navigation#tab_designs_page.submenu{
backround-color:black;
}

.det_price{
font-family: 'Open Sans', sans-serif;
}
#subcontainer{
background-color: black;
}

body {
font-size: 80%;
font-family: 'Open Sans', sans-serif;
}

/*a {
color:#555555;
}

a:hover {
color:#b7b7b7!important;
}*/

.add_to_cart {
font-size:14px!important;
}

.ds_list .over:hover {
border: 2px solid #FF6633;
}

div.sort {
float:left;
}
/* SITE HEADER */

#header {
background: none!important;
padding: 15px 0;
}

h1 img {
max-width:200px;
}

#pre_navigation.hub li a {
 color: white;
    font-family: futura;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.extras.hub li {
background:#DAE5EB;
}

.pre_navigation {
border-bottom:0px;
}

ul.extras.hub li a {
color:#000000;
font-size:12px;
}

#hub_cart a, ul.extras.hub li {
background-color:white!important;
font-family: 'Raleway', sans-serif;
border:0px;
box-shadow:none;
}

#hub_cart a {
background-image: url(/uploads/11032783/File/cart_bg.png);
background-repeat:no-repeat;
background-position:5px 10px;
}

#hub_cart .int {
font-size:14px;
}

#hub_search {
display:none;
}

#navigation_wrapper {
background:none;
border:0px;
box-shadow:none;
}

#navigation_wrapper ul {
display: inline;
list-style: none outside none;
over flow: hidden;
text-align: center;
width: 100% !important;
max-width: 100%;
margin:0px;
padding:0px;
background-position:center bottom;
background-repeat:repeat-x;
height:65px;
}
#navigation li {
display:inline-block;
float:none;
}
#navigation li a {
/*color: white !important;*/
    font-family: futura;
    font-size: 18px;
    font-weight: 300;
    height: 45px;
    letter-spacing: 1px;
    padding: 10px 15px 0;
}

#navigation li.alt a {
background-image:url(/uploads/11312342/File/nav_bg.png);
background-position:center bottom;
background-color:black;
background-repeat:no-repeat;
}

#navigation li a:hover {
text-decoration:none;
/*color:#b7b7b7!important;*/
}
/* PRODUCT LISTING */
.colorbutton, .colorbutton.add_to_cart, .button, .button.go, .sub_button {
background:#DAE5EB;
border:0px;
border-radius:0px;
box-shadow:none;
font-family: 'Raleway', sans-serif;
font-weight:300;
}

.row li.display {
border-radius:0px;
box-shadow:none;
margin-bottom: 30px;
}

row li div.details {
width:100%!important;
}

.row li .details ul {
text-align:center;
}

.det_title {
min-height: 20px;
}
.det_title a {
color: #222222;
    font-family: futura;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
.row li span.corners {
display:block;
}

.corners .tl, .corners .tr,.corners .bl {
display:none;
}

#create_list .corners .br, #design_list .corners .br {
background-image:url(/uploads/11032783/File/corner_create.png);
background-position:bottom right;
background-repeat:no-repeat;
}

#shop_list .corners .br {
background-image:url(/uploads/11032783/File/corner_predec.png);
background-position:bottom right;
background-repeat:no-repeat;
}

div.products h3 {
font-family: "futura",sans-serif;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
}

.link_more {
padding:10px 15px;
background:black;
}
.link_more a {
color:white;
text-decoration:none;
font-family: 'futura', sans-serif;
font-size: 15px;
font-weight:600;
text-transform:uppercase;
}

#m_window {
  height:410px;
}

#home_index #marketing {
width:100%;
float:left;
}

/* COLUMN */
.column_b .meta.categories h3, .column_b .meta h3, .column_b h3.view_all {
background:#DAE5EB;
box-shadow:none;
font-family: 'Raleway', sans-serif;
font-weight:300;
font-size:18px
}

.pagination, .order {
    background: none repeat scroll 0 0 #DAE5EB;
}

/* FLOATING BAR */
#floatbar {
     width:100%;
     position: fixed;
     z-index: 99;
     background: #000000;
     height: 20px;
     color: #FFFFFF;
     font-size: 13px;
     padding:6px 0 4px 0;
     text-align:center;
     font-family:arial;
}

#floatbar a {
     color:#FFFFFF;
     font-weight:bold;
}

#floatbar span {
position: relative;
    top: -5px;
}

#floatbar img {
}

#container {

}


#front-tiles {
display:none;
width:100%;
float:left;
padding: 10px 0 30px;
}

#home_index #front-tiles {
display:block;
}

#front-tiles ul {
margin:0;
padding:0;
width:100%;
list-style:none;
}

#front-tiles li {
width:33%;
float:left;
text-align:center;
}

#front-tiles .tile1 {
text-align:left!important;
}

#front-tiles .tile3 {
text-align:right!important;
}

#front-tiles a {
width:239px;
height:178px;
display:inline-block;
}

#front-tiles .tile1 a {
background: url(/uploads/11032783/File/tile_1_off.png);
}

#front-tiles .tile1 a:hover {
background: url(/uploads/11032783/File/tile_1_on.png);
}

#front-tiles .tile2 a{
background: url(/uploads/11032783/File/tile_2_off.png);
}

#front-tiles .tile2 a:hover {
background: url(/uploads/11032783/File/tile_2_on.png);
}

#front-tiles .tile3 a {
background: url(/uploads/11032783/File/tile_3_off.png);
}

#front-tiles .tile3 a:hover {
background: url(/uploads/11032783/File/tile_3_on.png);
}


div#footer a {
color:#FFFFFF;
}

div#footer div.helpers ul li {
    color: #FFFFFF;
}

div#footer div.helpers h3 {
font-family: 'Raleway', sans-serif;
font-weight:300;
font-size:16px;
color:#ffffff;
}

div#footer div.set {
border-top: 0px;
}

.preload {
display:none;
}

.power-storesignup {
width:50%;
float:left;
text-align:right;
}

.power-storesignup a {
background-image: url("/uploads/11032783/File/shop-26.png");
background-repeat:no-repeat;
background-position: 12px center;
padding:10px 15px 10px 50px;
color:#333333!important;
background-color:#DAE5EB;
text-decoration:none;
font-family: 'Raleway', sans-serif;
font-weight:300;
font-size:18px;
border-radius:2px;
}

.power-by {
width:50%;
float:left;
text-align:left;
}

div#legals div.power {
padding: 20px 0;
}

#footer div#legals {
color: #FFFFFF;
padding: 20px 0;
}

.personalize .meta.categories h5 {
    margin-top: 5px;
font-size:26px;
}
.personalize .meta.categories h5 a {
    background:#FF6633;
    font-size: 26px;
    padding: 5px 15px;
    text-decoration: none;
    color:#FFFFFF;
    text-transform:uppercase;
}

.personalize .meta.categories h5 a:hover {
color:#FFFFFF!important;
background:#FF3333;
}

.multi_qty_tr ul li {
width: 50px;
}

/* DESIGNER */

/* Inline the designer */
.designer_container_large {
   background: transparent;
   border: 0;
   border-radius: 0;
   box-shadow: none;
   left: inherit;
   margin-left: 0;
   padding: 0;
   position: absolute;
   z-index: 0;
   width: 1000px !important;
   }

/* Hide the initial popup overlay */
.popupbackground {
   display:none; 
   }

/* Hide the close button. You don't need it anymore */
#close_designer { 
   display:none; 
   }

.designer_container_large .add_items ul a, .designer_container_large .d_g_button_large {
background:#FF6633;
box-shadow:none;
border-radius:1px;
text-shadow:none;
}

.designer_container_large .add_items ul a:hover, .designer_container_large .d_g_button_large:hover {
background:#FF3333;
}

.designer_container_large .add_items ul a:before {
background:transparent;
box-shadow:none;
}

.designer_container_large .designer_options input[type="button"], .designer_container_large .button {
font-size:14px;
}

.designer_container_large a:hover {
color:#FFFFF!important;
}

/* TABS */

#tab_button_details, #tab_product_details, #tab_button_sizing, #tab_button_shipping {
display:none;
}

#tab_product_details, #tab_product_description, #tab_product_sizing, #tab_product_shipping {
display:block!important;
}

.personalize, .tab_content, .meta.categories ul li .custom_option, .custom_option {
border: 0px;
background:transparent;
}

.tab_content label {
font-weight:bold;
}

div.product_display div.description .meta, .personalize .meta.categories {
border: 0px;
background:transparent;
}


/* SIGNUP */
.signup li, .signup li .register_a {
background:transparent;
border:0px;
box-shadow:none;
}

.signup h3 {
font-weight:bold;
}

.signup .button {
font-size: 22px;
    height: 40px;
    padding: 5px 30px;
}
html, body, div, h1, h2, h3, h4, h5, h6, p{
  font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*===================================
=            Header Code            =
===================================*/

#header .set{
  width: 100%;
}
#navigation_wrapper{
  float: left;
  clear:none;
  margin-left: 60px;
}
#navigation li a{
  height: auto;
  line-height: 1.1;
  padding-top: 0;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #000 !important;
  padding: 12px 0;
  letter-spacing: 0;
  position: relative;
}
#navigation li + li{
  margin-left: 24px;
}
#navigation li a:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 3px;
  left: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#navigation li a:hover:after{
  visibility: visible;
  width: 100%;
}
#navigation li{
  margin-right: 20px;
}
#navigation li.alt a{
  background: none;
}
#navigation_wrapper ul{
  height: auto;
  width: auto !important;
}
#hub_cart a{
  background: none !important;
  padding: 0;
  border-radius: 0;
}
#hub_cart .int{
  -webkit-box-shadow: none;
  box-shadow: none;
  border:0;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #000;
  padding: 0;
  line-height: 1.3;
}
#hub_cart b{
  display: inline-block;
  font-size: 0;
  line-height: 1.3;
  padding-top: 0;
}
#hub_cart #cart_cost{
  font-size: 16px;
  font-weight: 700;
}
#cart_count{
  display: none;
}
.register:before{
  content: '|';
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: .9;
  color: #000;
  position: relative;
  top: -2px;
}
#pre_navigation.hub{
  margin-right: 22px;
}
#pre_navigation.hub li a{
  display: inline-block;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: none;
}
#pre_navigation.hub li{
  color: #fff;
}
#header h1{
  margin: 0;
}
#subcontainer{
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}
#subcontainer #header{
  padding: 15px;
}
#page_top_container{
  display: none;
}
#hub_cart a:hover{
  text-decoration: none;
}
/*=====  End of Header Code  ======*/
/*=================================
=            Home Page            =
=================================*/

.home-banner-main{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.home-banner-section{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}
.home-banner-inner{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.home-banner-section .slick-list{
  height: 100%;
}
.home-banner-section .slick-track{
  height: 100%;
}
#content div.set{
  padding-top: 0;
}
#content .c_wrapper{
  padding-top: 0;
}
#body-bottom{
  display: none !important;
}
#home_index{
  padding-top: 100vh;
}
#content{
  background: #fff !important;
  position: relative;
  z-index: 1000;
}
.home-banner-main ~ div{
  position: relative;
  z-index: 1000;
}
#content:after{
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}
div.portal{
  position: relative;
  z-index: 100;
}
div.set{
  max-width: 1230px;
  width: 100%;
}
.step-box{
  width: 860px;
  height: 560px;
  background: url(/uploads/11312342/File/banner-img/stepper.png) no-repeat 0 0;
  background-size: 100% auto;
  margin: 160px auto 120px;
  position: relative;
}
.step-box .icon{
  padding-left: 0;
}
.icon{
  width: 120px;
  height: 120px;
  position: absolute;
  text-align: center;
  line-height: 116px;
  border-radius: 50%;
  border:2px solid #c5c5c5;
}
.icon span{
  position: absolute;
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #cdcdcd;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  left: 0;
}
.icon:first-child {
    top: 33px;
    right: 114px;
}
.icon:last-child {
    top: 33px;
    left: 114px;
}
.icon:nth-child(2) {
    bottom: -10px;
    right: -52px;
}
.icon:nth-child(3){
  bottom: -10px;
  left: -52px;
}
.icon:first-child span, .icon:last-child span{
  bottom: 135px;
}
.icon:nth-child(2) span, .icon:nth-child(3) span{
  top: 135px;
}
.icon img{
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}
.step-box-wrapper h2{
  font: 700 60px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 11px;
  text-align: center;
  font-style:italic;
}
.step-box-wrapper{
  padding-top: 63px;
  padding-bottom: 63px;
  text-align: center;
}
.start-btn, .link_more a{
  border: 2px solid #898989;
  width: 181px;
  padding: 18px;
  text-align: center;
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #3d3d3d;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.row li.display {
    border-radius: 0px;
    box-shadow: none;
    margin: 30px 50px !important;
    float: none;
    display: inline-block;
    vertical-align: top;
}
div.products h3{
  font: 700 60px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 32px;
  text-transform: none;
  letter-spacing: 0;
  font-style: italic;
}
.link_more{
  padding: 0;
  background: none;
  text-align: center;
}
.det_title a{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: #484848;
  text-transform: uppercase;
  letter-spacing: 0;
}
.det_price{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.3;
  color: #484848;
  text-transform: capitalize;
  letter-spacing: 0;
}
.row li .details ul li{
  margin: 0;
}
.row li div.details{
  visibility: hidden;
}
.row li:hover  div.details{
  visibility: visible;
}
/*=====  End of Home Page  ======*/
/*==============================
=            Footer            =
==============================*/

#footer{
  position: relative;
  z-index: 1000;
  background: #fff;
  padding-top: 70px;
  border-top: 1px solid #f4f3f3;
}
div#footer div.helpers ul li, div#footer div.helpers ul li a {
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #757575;
  position: relative;
}
div#footer div.helpers ul li a:after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: -7px;
  left: 0;
  visibility: hidden;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -ms-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
div#footer div.helpers h3{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #191919;
  text-transform: uppercase;
  margin: 0 0 30px;
}
div#footer div.helpers ul li + li{
  margin-top: 30px;
}
#footer div#legals {
  background: #f8f7f7;
  margin-top: 40px;
}
#footer div#legals .copyright{
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.8;
  color: #757575;
  margin: 0;
  text-align: center;
  display: block;
}
div#footer a{
  color: #757575;
}
.banner-slider{
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.banner-inner-slide{
  width: 31%;
  margin: 0 auto 7.9vw;
}
.banner-slider h1{
  font: 700 7.9vw 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: .8;
  color: #e80842;
  display: block !important;
  margin-bottom: 40px;
  float: none;
}
.banner-slider h1 small{
  font-size: 2.1579vw;
  color: #ffffff;
}
.banner-slider h1 span{
  color: #fff;
  display: block;
  line-height: .7;
}

.banner-slider p{
  font: 700 20px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #fff;
}
.banner-slider .blk h1 span, .banner-slider .blk p, .banner-slider .blk h1 small{
  color: #000;
}
.slide-number{
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 50px;
  color: #a9a9a9;
  font-weight: bold;
  line-height: .9;
  -webkit-transform-origin: 25% center;
  -moz-transform-origin: 25% center;
  -ms-transform-origin: 25% center;
  transform-origin: 25% center;
  z-index: 100;
}
#footer .phone{
  padding: 10px 10px 10px 50px;
  border:2px solid #e80842;
  display: inline-block;
  background: url(/uploads/11312342/File/banner-img/smartphone.png) no-repeat 10px center;
  font: 700 24px 'Source Sans', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #e80842;
}
.icon{
  -webkit-transition:all 0.7s ease-in-out;
  -moz-transition:all 0.7s ease-in-out;
  -ms-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out;
}
.icon:first-child{
  transform: translate(100px, -100px);
  -webkit-transform: translate(100px, -100px);
  transition-delay: 0s;
}
.icon:nth-child(2){
  transform: translate(100px, 100px);
  -webkit-transform: translate(100px, 100px);
  transition-delay: 0.1s;
}
.icon:nth-child(3){
  transform: translate(-100px, 100px);
  -webkit-transform: translate(-100px, 100px);
  transition-delay: 0.2s;
}
.icon:last-child{
  transform: translate(-100px, -100px);
  -webkit-transform: translate(-100px, -100px);
  transition-delay: 0.3s;
}
.icon.view-in{
  transform: translate(0);
  -webkit-transform: translate(0);
}
#dn-social-media{
  position: fixed;
  top: 50%;
  right: 20px;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}
#dn-social-media li{
  background-image: url(/uploads/11312342/File/banner-img/social-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
}
#dn-social-media li a{
  width: 15px;
}
#dn-social-media li + li{
  margin-top: 26px;
}
#dn-social-media li#dn_facebook{
  background-position: 0 0;
}
#dn-social-media li#dn_facebook:hover{
  background-position: -18px 0;
}
#dn-social-media li#dn_facebook a{
  height: 65px;
}
#dn-social-media li#dn_google{
  background-position: 0 -90px;
}
#dn-social-media li#dn_google:hover{
  background-position: -18px -90px;
}
#dn-social-media li#dn_google a{
  height: 82px;
}
#dn-social-media li#dn_instagram{
  background-position: 0 -199px;
}
#dn-social-media li#dn_instagram:hover{
  background-position: -18px -199px;
}
#dn-social-media li#dn_instagram a{
  height: 71px;
}
#dn-social-media #dn_youtube{
  display: none;
}
/*=====  End of Footer  ======*/
/*====================================
=            Inner Banner            =
====================================*/
.inner-banner{
  width: 100%;
  background: url(/uploads/11312342/File/banner-img/inner-banner.jpg) no-repeat right center;
  -webkit-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.inner-banner .set{
  height: 546px;
  position: relative;
  width: 1230px;
  margin: 0 auto;
}
.designatshirt{
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  transform:translate(0, -50%);
}
.designatshirt h2{
  font: 700 60px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.browse-range{
  font: 700 20px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #ffffff;
  display: inline-block;
  padding: 8px;
  background: #000;
  text-transform: uppercase;
}
body:not(#home_index){
  padding-top: 546px;
}

/*=====  End of Inner Banner  ======*/
/*====================================
=            Contact Page            =
====================================*/

.inner-banner~*{
  position: relative;
  z-index: 100;
}
.column_a>.c_wrapper + .c_wrapper{
  position: relative;
  z-index: 100;
}
.column_b{
  position: relative;
  z-index: 100;
}
body:not(#home_index) #content{
  padding-top: 90px;
}
p{
  font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;;
  color: #929292;
}
p a{
  text-decoration: none;
  color: inherit;
}
.inner-banner ~ p{
  margin-bottom: 0;
}
.c_wrapper + .c_wrapper {
  margin-top: 45px;
}
.c_wrapper h3{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 21px;
  text-transform: uppercase;
}
.column_a {
    float: left;
    width: calc(63.40% - 10px);
}
.column_b{
  width: calc(31% - 11px);
}
.site_form li{
  font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;;
  color: #929292;
  margin: 0;
}
.site_form li label{
  color: #000000;
  font-weight: 700;
  width: 106px;
  padding-right: 10px;
  margin-right: 0;
}
.site_form li a{
  color: #929292;
  text-decoration: none;
}
.site_form li span.float{
  width: calc(100% - 106px);
}
div.form{
  margin: 0;
  border:0;
  background: #f7f7f7;
}
ul.base li label, ul.form li label{
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 40px;
  color: #484747;
  width: 140px;
}
ul.base li{
  padding: 0;
  margin-bottom: 20px;
}
input, select, textarea{
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
}
input:not(.button):not([type="radio"]):not([type="checkbox"]), select{
  max-width: 360px;
  height: 40px;
  background: #fff;
  border:1px solid #dbdee2;
  padding: 5px 10px;
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #484747;
  display: block;
  width: 100%;
}
.signup li label{
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 40px;
  color: #484747;
}
textarea{
  max-width: 470px;
  width: 100%;
  height: 180px;
  background: #fff;
  border:1px solid #dbdee2;
  padding: 5px 10px;
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #484747;
}
#recaptcha_widget_div{
  float: left;
}
.recaptcha_theme_blackglass #recaptcha_response_field, .recaptcha_theme_white #recaptcha_response_field{
  margin: 0;
  height: 20px;
}
.column_b .meta.categories h3, .column_b .meta h3, .column_b h3.view_all{
  background: transparent none;
  border: 0;
  margin: 0;
  padding: 0;
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
}
.column_b .meta.categories h3:after, .column_b .meta h3:after, .column_b h3.view_all:after{
  width: 50px;
  height: 4px;
  background: #e80842;
  display: block;
  margin: 10px 0 15px;
  content: '';
}
.column_b .meta.categories .int, .column_b .meta .int{
  margin-bottom: 0;
}
.meta.categories ul li, body div.normal-list ul li,body div.normal-list ol li,  td{
  font: normal 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: #929292;
}
caption, th{
  font: bold 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: #929292;
}
.meta.categories ul li a{
  color: #929292;
  text-decoration: none;
  display: inline-block;
  padding-left: 15px;
  position: relative;
}
.meta.categories ul li a:after{
  content: "\f105";
  position: absolute;
  top: 0;
  font-family: FontAwesome;
  left: 0;
}
.meta.categories, .column_b .meta, .column_b .meta.categories{
  border: 1px solid #dbdee2;
  padding: 25px 30px;
  border-radius: 0;
  margin-bottom: 30px;
}
.button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb( 219, 222, 226 );
  background-color: rgb( 232, 8, 66 );
  min-width: 162px;
  height: 42px;
  text-align: center;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 42px;
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
}
ul.base li.submit{
  border-top: 0;
}
ul.base .button{
  float: left;
}
.column{
  margin-bottom: 80px;
}
ul.form li{
  margin: 0 0 10px;
  padding: 0;
}
div.form{
  position: relative;
  z-index: 101;
  clear: both;
}
/*=====  End of Contact Page  ======*/
/*===========================================
=            Code For About Page            =
===========================================*/

.c_wrapper h3.hd-st3{
  text-transform: none;
  font-size: 16px;
  margin-bottom: 25px;
}
.c_wrapper h3.hd-st3 span{
  font-weight: 400;
  color: #929292;
  display: block;
  margin-top: 15px;
}
#quote_request_form_panel{
  padding: 60px;
}
#quote_request_form_panel h3{
  text-transform: uppercase;
  margin-bottom: 20px;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 10px;
}
#quote_request_form_panel h3 + p{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #d00;
  margin: 0 0 20px;
}
#quote_request_form_panel form{
  padding-left: 40px;
}
#quote_request_form_panel ul.form>li{
  margin-bottom: 20px;
}
#quote_request_form_panel form h4{
  padding-left: 155px;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#quote_request_form_panel form input[type="radio"]{
  width: 20px;
  height: 20px;
  background: #bdbdbd;
  -webkit-appearance: none;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  top: 4px;
  border: 1px solid #bdbdbd;
  margin-right: 10px;
}

#quote_request_form_panel form input[type="radio"] + input[type="radio"]{
  margin-left: 20px;
}
#quote_request_form_panel #product_known_options .button, #quote_request_form_panel #artworks .button{
  background: #609505;
}
#quote_request_form_panel form input[type="radio"]:checked{
  background: #fff;
}
#quote_request_form_panel form input[type="radio"]:checked::after{
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #8e8e8e;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
ul.form li input, ul.form li select, ul.form li textarea{
  font-size: 16px;
}
#artworks ul{
  margin-top: 20px;
}
#artworks ul input[type="text"]{
  width: 55px;
  margin: 0 20px;
  display: inline-block;
}
#need_job_by{
  display: inline-block !important;
}
#artworks ul li{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #484747;
}
#artworks ul li + li{
  margin-top: 20px;
}
img[alt="Calendar"]{
  position: absolute;
  margin-top: 13px;
  margin-left: -26px;
}
#artworks input[type="file"]{
  position: relative;
  padding-top: 8px;
}
#artworks input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}
#artworks input[type="file"]::before {
  content: 'CHOOSE FILE';
  display: inline-block;
  background: #bdbdbd;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #3d3d3d;
  text-transform: uppercase;
  padding: 9px;
  position: absolute;
  top: 1px;
  left: 1px;
}
#artworks input[type="file"]:hover::before {
  border-color: black;
}
#artworks input[type="file"]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.row li a.over{
  -webkit-box-shadow: none;
  box-shadow: none;
}
body[id^="designs"] .row li.display .block{
  border:1px solid transparent;
}
body[id^="designs"] .row li.display{
  margin: 30px 26px !important;
  position: relative;
}
body[id="designs_category"] .row li.display:before{
  content: "\f040";
  font-size: 16px;
  font-family: FontAwesome;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background: #fff;
  border:1px solid #e7e7e7;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  color: #d0d0d0;
}
body[id^="designs"] .row li div.details{
  padding-bottom: 50px;
  visibility: visible;
}
div#footer div.helpers ul li a:hover{
  color: #757575 !important;
}
div#footer div.helpers ul li a:hover:after{
  width: 100%;
  visibility: visible;
}
.filter h4{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  margin: 0 0 10px;
  text-transform: none;
  letter-spacing: 0;
  text-transform: uppercase;
}
#user_login .c_wrapper{
  position: relative;
  z-index: 100;
}
#designs_design .c_wrapper h3{
  font-size: 30px;
}
.image .interior{
  background: none;
  border:1px solid #e7e7e7;
  margin-bottom: 24px;
}
.image div.d_pane{
  border:0;
  background: none;
}
#designs_design #product_comments_container h3{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #000;
}
#designs_design #product_comments_container h3 a{
  color: #000 !important;
}
#comment_items div.comment_cell{
  border:0;
  padding: 5px 0;
  background: #fff;
}
div.comment_cell div.comment,div.comment_cell div.details{
  width: 100%;
}
.details>div>img{
  display: none;
}
.details>div>ul>li{
  display: inline;
  vertical-align: middle;
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #929292;
}
.details>div>ul>li>b{
  color: #ff4005;
}
.comment{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #929292;
}
#idp_login_heading{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #929292;
  border-top: 1px solid #929292;
  padding-top: 14px;
  margin-top: 14px;
}
#idp_login_heading a{
  color: #ff4005;
}
div.product_display div.description{
  width: calc(100% - 460px);
  background: #f7f7f7;
  padding: 15px 30px;
}
div.product_display div.description h3{
  background: none;
  font: 700 30px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 25px;
  border-bottom: 0;
}
#idp_add_heading{
  font: 700 23px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    margin-top: 24px;
}
.ds_list{
  margin: 0;
}
body[id^="designs_design"] .row li.display:before{
  display: none;
}
body[id^="designs_design"] .row li.display{
  width: 250px;
}
body[id^="designs_design"] .row li div.details{
  padding-bottom: 0;
}
#content .c_wrapper textarea{
  display: block;
  width: 100%;
}
.ds_view{
  border-width: 2px;
  border-color: rgb(68, 68, 68);
  border-style: solid;
  width: 373px;
  height: 42px;
  text-align: center;
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  padding: 11px;
  letter-spacing: 0.1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;

}
div.product_display div.description .meta, .personalize .meta.categories{
  margin: 50px 0 0;
}


/*=====  End of Code For About Page  ======*/

/*===================================
=            Design Page            =
===================================*/

div.product_display div.description .meta h3{
  font-size: 18px;
  margin-bottom: 0;
}
.popup .popup_int h3, .popup .int h3{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.popup_content h2{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
}
#select_process_list li{
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
}
.colorbutton, .colorbutton.add_to_cart, .button, .button.go, .sub_button{
  background-color: rgb(232, 8, 66);
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #fff;
  padding: 10px 10px;
  height: auto;
  text-decoration: none;
  float: left !important;
  clear: both;
  margin-top: 5px;
}
#designs_product .image ul.views li{
  box-sizing: content-box;
}
#mp_1>div:after{
  content: '';
  display: table;
  clear: both;
}
#mp_1>div>div{
  float: left;
  width: 50%;
}
#mp_1>div>div.manage_pane_settings{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 100px;
  background: none;
  border: 0;
}
#manage_pane_container_inline h4{
  text-transform: uppercase;
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  margin: 0 0 10px;
  color: #000;
}
a.ps_image_box {
  width: 100%;
  display: block;
  height: 141px;
  line-height: 139px;
}
.ul_add.image_items:after{
  content: '';
  display: table;
  clear: both;
}
.personalize_image {
    padding: 0;
    text-align: center;
}
.personalize .ul_add.image_items .entry{
  width: 100%;
  padding: 0;
}
.personalize .ul_add.image_items .entry ul:after{
  content: '';
  display: table;
  clear: both;
}
.personalize .ul_add.image_items .entry ul li{
  width: calc(50% - 4px);
  float: left;
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
}
.personalize .ul_add.image_items .entry ul li:nth-child(2){
  float: right;
}
.personalize .ul_add.image_items .entry ul li:first-child a{
  background: #609505;
}
.personalize .ul_add.image_items .entry ul li:nth-child(2) a{
  background: #e80842;
}
.personalize .ul_add.image_items .entry ul li a{
  display: block;
  padding: 12px 10px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
span.custom{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  padding: 0;
  background: none;
  border:0;
  margin-bottom: 40px;
  position: relative;
}
span.custom a{
  color: #000;
}
span.custom:before{
  content: '';
  position: absolute;
  left: -30px;
  right: -30px;
  height: 30px;
  top: -60px;
  background: #fff;
}
.add_to_cart li.entry{
  width: 87px;
}
.add_to_cart li label{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
.add_to_cart li.entry .price{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #e80842;
  text-transform: uppercase;
}
.tab_content{
  padding-top: 30px 0 0 0;
}
.tab_content label, .multi_qty_tr ul li label{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
.multi_qty_tr ul li label{
  
  text-align: center;
}
.tab_wrapper{
  padding-top: 30px;
}
#tab_product_details>ul>li + li{
  margin-top: 30px;
}
div.meta.categories .color_panel span, .color_panel li .color_panel_cell span, .color_panel li .color_panel_cell{
  border-radius: 50%;
}
.multi_qty_tr ul li input[type="text"]{
  width: 100% !important;
  display: block;
  text-align: center;
}
.multi_qty_tr ul li{
  padding-right: 10px;
  text-align: center;
}
.tab_wrapper h4{
  font: 700 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
}
#tab_product_description ul li{
  list-style-type: square;
}
#tab_product_description ul{
  padding-left: 30px;
}
.size_chart img{
  margin-bottom: 30px;
}
.personalize .colors{
  margin-bottom: 5px;
}
#tab_product_description .int{
  font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #929292;
}
.personalize .ds_view{
  border:0;
  font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #e80842;
  color: #fff;
  text-transform: uppercase;
}
#tab_product_description{
  margin-top: 20px;
}
#decorate_now_button {
    margin-bottom: 5px;
    line-height: 35px;
    height: auto;
    font-size: 24px;
    width: 200px;
    margin-bottom: 26px;
}
.image .views li label{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
div.product_display div.description .manage_pane_container_inline + .meta{
  margin-top: 0;
}
#c_n_container .c_n_int h3{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 15px;
}
#c_n_container .c_n_int li{
  font: 400 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 8px;
}
.wpb_design:after{
  display: none;
}
#footer.normal-footer{
  position: relative;
  z-index: 0;
}
.popup_box .button{
  padding: 15px 10px;
  float: left;
}
#cart_notice .button.go{
  float: right !important;
  background: #e80842;
  clear: none;
  color: #fff;
  height: auto;
}
#cart_notice .button{
  float: left !important;
  background: #609505;
  color: #fff;
  height: auto;
}
#checkout_steps{
  clear: both;
  margin-bottom: 40px;
}
#shop_address h4{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  color: #000;
}
#checkout_steps li{
  font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
}
#checkout_steps li b{
  color: #929292;
  font-size: 14px;
}
#checkout_form{
  margin-top: 30px;
}
.checkout_form .custom_values{
  width: 470px;
}
.checkout_form input[type="checkbox"], #use_shipping{
  float: none;
  width: auto !important;
  height: auto !important;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
}
.checkout_form{
  background: #f7f7f7;
  padding: 20px;
  margin-top: 20px;
}
.checkout_form li label{
  font: normal 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
line-height: 40px;
color: #484747;
width: 140px;
}
.checkout_helper{
  font-size: 12px;
  color: red;
}
#ov{
  height: 100px;
  position: relative;
}
#card_expiry_date select{
  width: 100px;
  display: inline-block;
}
.checkout_form li span{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 40px;
}
div.pagination span, div.pagination a{
  font: 700 20px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 30px;
}
.foot .cancel_button{
  font: 400 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 24px;
}
.popup .library_browser a{
  font-size: 16px;
}
.product_categories ul li span a{
  color: #000 !important;
}
#main_image{
  display: none;
}
#home_create .row li.display{
  margin:0 39px 39px !important;
}
.meta.categories ul li span:before{
  margin-left: -40px;
}
ul.subcategories li.alt{
  border:0;
  box-shadow: none;
}
.meta.categories ul.subcategories li.alt span{
  padding-left: 34px;
  position: relative;
}
.meta.categories ul.subcategories li.alt span:before{
  content: "\f105";
  position: absolute;
  top: 0;
  font-family: FontAwesome;
  left: 19px;
  height: auto;
  margin: 0;
  width: auto;
  background: none;
  line-height: 34px;
}
ul.subcategories li.alt{
  margin: 0;
  position: relative;
  overflow: visible;
}
ul.subcategories li.alt:before{
  background: #ebebeb;
  background: rgba(0, 0, 0, .05);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  margin: 0 0 0 -55px;
  position: absolute;
  top: 100%;
  width: 400px;
}
ul.subcategories li.alt{
  overflow: visible;
}
.pagination, .order{
  background: none;
  border:0;
  box-shadow: none;
}
div.pagination span.current, div.pagination a.current{
  text-decoration: none;
}
#opener_ul{
  border: 1px solid #ccc;
  background: none;
}
#quote_request_form_panel #product_known_options .button, #quote_request_form_panel #artworks .button{
  clear: none;
}
#opener .int ul li{
  border-radius: 0;
  background: #609505;
}
/*#select_product_list_paginator_container*/
#select_product_list_paginator_container.pagination span, #select_product_list_paginator_container.pagination a{
  font-size: 14px;
  line-height: 18px;
}
#no_items h3{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  color: #000;
}
.area_view ul.views li{
  box-sizing: content-box;
}
.no_items a{
  border:0;
  border-radius: 0;
  background: rgb(232, 8, 66);
  color: #fff;
}
.popup_box .button{
  background: rgb(232, 8, 66);
    font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #fff;
    padding: 10px 10px;
    height: auto;
    text-decoration: none;
    float: left !important;
    clear: both;
    margin-top: 5px;
}
.area_view h4, #content .area_view h4{
    font: 700 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
}
.height_setter{
  margin: 0;
  border:1px solid #ccc;
  border-bottom: 0;
}
.m_pricing{
  background: #f7f7f7;
}
.size_input .multi_qty_tr ul li label{
  width: 100%;
}
.qty_price label{
    font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
}
#mp_1>div>div.manage_pane_body{
  width: 100%;
}
.managepaneselected{
  border:1px solid #000;
}
.design_control_add{
  background: #f7f7f7;
  border-color: #ccc;
}
.design_control_add ul li{
  background: #e80842;
  border-radius: 0;
  border:0;
}
a.size_chart{
  background: #e80842;
  color: #fff;
  border-radius: 0;
  border:0;
}
ul.views{
  background: #f7f7f7;
  border-color: #ccc;
}
.area_view ul.views li.d_layout_selected{
  border-color: #ccc;
}
.designer_tabs ul li{
  background: #f7f7f7;
  border-color: #ccc;
    font: 400 14px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
}
.view_controls{
  height: 22px;
}
.view_controls ol li{
  font: 400 12px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #000;
}
.view_controls ol li a{
  font: 400 12px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 20px;
  color: #000;
}
.form li .button{
  float: left;
}
#home_Guarantee .c_wrapper>div{
    font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #929292;
    padding-left: 0 !important;
}
#help_container h4{
  font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.help_box h5, .popup .help_box h5{
  font: 700 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.help_box li{
    font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #929292;
}
#product_info_ptype .pi_details{
  width: calc(100% - 220px);
}
#product_info_ptype .pi_block{
    font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #929292;
}
#product_info_ptype .pi_block h4{
    font: 700 24px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    text-transform: uppercase;
}
#product_info_ptype .pi_images:after{
  content: '';
  display: table;
  clear: both;
}
#product_info_ptype .pi_images{
  margin-left: -10px;
}
#product_info_ptype .pi_images img{
  width: 25%;
  float: left;
  padding: 10px;
}
div.meta.categories .color_panel span, .color_panel li .color_panel_cell span{
  height: 20px !important;
}
.our_reviews_wrapper,.our_promise_wrapper{
  text-align: center;
}
.our_reviews_wrapper h3,.our_promise_wrapper h3 {
    font: 700 60px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #000;
    margin: 0 0 32px;
    text-transform: none;
    letter-spacing: 0;
    font-style: italic;
}
.our_reviews_wrapper p,.our_promise_wrapper p {
    font: 300 18px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #929292;
}
.promise_list{
   margin: 0 30px;
   font-size: 0;
}
.promise_list > div{
   padding: 0 30px;
   width: 33.33%;
   display: inline-block;
}
.promise_list > div > img{
   max-width: 200px;
   max-height: 200px;
   height: auto;
   width: auto;
}
.promise_list > div > h5 {
    font: 700 20px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #000;
    font-style: italic;
}
/*=====  End of Design Page  ======*/
/*==================================
=            Login page            =
==================================*/

div.login_a ul.form li input:not(.button):not([type="checkbox"]):not([type="radio"]),div.login_a ul.form li select{
  width: calc(100% - 140px);
}
.signup li{
  margin: 0;
  padding: 0;
}
.signup li + li{
  margin-top: 10px;
}
.signup li{
    font: 400 16px 'Source Sans Pro', Arial, Helvetica, sans-serif;
    line-height: 1.1;
    color: #929292;
}
.signup li a{
    color: #929292;
}
div.login_a ul.form li label{
  text-align: left;
}

/*=====  End of Login page  ======*/

@media screen and (min-width: 1025px) {
  .meta.categories ul li a{
      -webkit-transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      -ms-transition:all 0.2s ease-in-out;
      transition:all 0.2s ease-in-out;
  }
  .meta.categories ul li a:hover{
    color: #000 !important;
  }
  div.pagination a:hover{
    text-decoration: underline;
  }
    .start-btn:hover, .link_more a:hover{
      background: #000;
      border-color: #000;
      color: #fff !important;
    }
    .start-btn, .link_more a, body[id^="designs"] .row li.display .block, body[id^="designs"] .row li.display:before{
      -webkit-transition:all 0.2s ease-in-out;
      -moz-transition:all 0.2s ease-in-out;
      -ms-transition:all 0.2s ease-in-out;
      transition:all 0.2s ease-in-out;
    }
    body[id="designs_category"] .row li.display:hover:before{

      background: #e80842;
      border-color: #e80842;
      color: #fff;
    }
    #navigation li a:hover:after{
      width: 100%;
    }
    body[id^="designs"] .row li.display:hover .block, body[id^="designs"] .row li.display:hover .block{
      border:1px solid #e7e7e7;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    }
    body[id^="designs"] .row li.display:hover .det_title a{
      color: #e80842;
    }
}