<div class="home-banner-main">
	<span class="slide-number">03/01</span>
	<div class="home-banner-section">
		<div class="home-banner-inner" style="background-image: url(/uploads/11312342/File/banner-img/banner-img.jpg);">
			<div class="banner-slider">
				<div class="banner-inner-slide">
					<h1>
						<small>Create your </small><span>own</span> Design</h1>
					<p>
						Free Worldwide shipping on Orders over 500$</p>
				</div>
			</div>
			<!--  .banner-inner-slide --></div>
		<div class="home-banner-inner" style="background-image: url(/uploads/11312342/File/banner-img/t_shirts_1.jpg);">
			<div class="banner-slider">
				<div class="banner-inner-slide">
					<h1>
						<small>Create your </small><span>own</span> Design</h1>
					<p>
						Free Worldwide shipping on Orders over 500$</p>
				</div>
			</div>
			<!--  .banner-inner-slide --></div>
		<div class="home-banner-inner" style="background-image: url(/uploads/11312342/File/banner-img/t_shirts_5.jpg);">
			<div class="banner-slider">
				<div class="banner-inner-slide blk">
					<h1>
						<small>Create your </small><span>own</span> Design</h1>
					<p>
						Free Worldwide shipping on Orders over 500$</p>
				</div>
			</div>
			<!--  .banner-inner-slide --></div>
	</div>
	<!--  .home-banner-section --></div>
<!--  .home-banner-main -->
<div class="step-box-wrapper">
	<h2>
		How it works.</h2>
	<p>
		Printing is simple, Create you own design online. We recieve your design, print it, and send it to your door. It&#39;s that easy</p>
	<div class="step-box">
		<div class="icon">
			<span>Mix Design<br />
			Elements</span> <img alt="" src="/uploads/11312342/File/banner-img/paint-brush.png" /></div>
		<!--  .icon -->
		<div class="icon">
			<span>finalize</span> <img alt="" src="/uploads/11312342/File/banner-img/cart.png" /></div>
		<!--  .icon -->
		<div class="icon">
			<span>Upload<br />
			images</span> <img alt="" src="/uploads/11312342/File/banner-img/cloud-computing.png" /></div>
		<!--  .icon -->
		<div class="icon">
			<span>Maintain<br />
			Gallery</span> <img alt="" src="/uploads/11312342/File/banner-img/icon1.png" /></div>
		<!--  .icon --></div>
	<!--  .step-box --><a class="start-btn" href="#">Let&rsquo;s Start</a></div>
<!--  .step-box-wrapper -->
<div class="our_promise_wrapper">
	<div class="our_promise_inner">
		<h3>Our Promise.</h3>
		<p>At edition we strive to provide the best quality graments with the best quality prints on time, every time.</p>
		<div class="promise_list">
			<div>
				<img alt="" src="/uploads/11312342/File/stuff.png" />
				<h5>High quality garments</h5>
			</div>
			<div>
				<img alt="" src="/uploads/11312342/File/stuff.png" />
				<h5>Pin point accurate prints</h5>
			</div>
			<div>
				<img alt="" src="/uploads/11312342/File/stuff.png" />
				<h5>Fast delivery</h5>
			</div>
		</div>
	</div>
</div>
<div class="our_reviews_wrapper">
	<div class="our_reviews_inner">
		<h3>Customer reviews.</h3>
		<p>Read what our customers have said on facebook reviews</p>
		<div class="client_reviews">
			<div>
				<img alt="" src="/uploads/11312342/File/rating_stars.png" />
				<p>Absolute legends and best service that you just don’t get anywhere else these days best quality and done so fast with no stress</p>
				<span>Elijah David Nguyen</span>
			</div>
			<div>
				<img alt="" src="/uploads/11312342/File/rating_stars.png" />
				<p>Absolute legends and best service that you just don’t get anywhere else these days best quality and done so fast with no stress</p>
				<span>Elijah David Nguyen</span>
			</div>
			<div>
				<img alt="" src="/uploads/11312342/File/rating_stars.png" />
				<p>Absolute legends and best service that you just don’t get anywhere else these days best quality and done so fast with no stress</p>
				<span>Elijah David Nguyen</span>
			</div>
		</div>
	</div>
</div>